body{
    background: url('../images/login.jpeg');
    background-size: cover;
}



.loginHeader{

    font-size: 35px;
}

.loginBody{

    font-size: 25px;
}

.form{
    background: rgb(255, 255, 255);
    padding: 50px;
    border: 2px;
    margin: 0 auto;
    width: 500px;
    border: 2px solid #fff;
    border-radius: 8px;
}